.accordion {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 10px 15px;
    cursor: pointer;
}

.accordion-content {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
